.editor-title{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  padding: .5rem .5rem .5rem 1rem;
  border-top-left-radius:.5rem;
  border-top-right-radius:.5rem;
}

.javascript{
  color: rgb(252, 246, 50) !important;
}
.xml{
  color: rgb(255, 93, 30) !important;
}
.css{
color: rgb(41, 198, 255) !important;
}
.markdown{
  color: rgb(255, 93, 30) !important;
}


.editor-container{
  display: flex;
  flex-direction:column;
  flex-grow: 1;
  flex-basis: 0;
  padding:.25rem;
  background-color: rgb(30, 30, 30);
}

.CodeMirror{
  height:100% !important;
}

.h-90vh{
  height: 90vh;
  overflow-y: auto;
}

.pane{
  height:50vh;
  padding-bottom: .5rem;
  background-color: rgb(30, 30, 30);

}

.code-mirror-wrapper{
  flex-grow: 1;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
}

.top-pane{
  display:flex;
  overflow-x: auto;
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll{
  position:absolute;
  overflow: hidden !important;
}

.nav.nav-tabs{
  background-color: rgb(30, 30, 30);
}

.nav.nav-tabs .nav-link.active {
  background-color:rgb(0, 0, 0);
}

.bg-body-tertiary
{
  padding:10px !important;
}

.navbar{
  padding-bottom: 0px !important;
}


overflow-y-md-scroll {
  overflow-y: auto; /* Default for screens <768px */
}

@media (min-width: 768px) {
  overflow-y-md-scroll {
    overflow-y: scroll; /* Applied for screens >=768px */
  }
}


.min-height-300px{
  min-height: 300px;
}

.accordion-body{
  padding: 1px !important;
}