.editor-title{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  padding: .5rem .5rem .5rem 1rem;
  border-top-left-radius:.5rem;
  border-top-right-radius:.5rem;
}

.javascript{
  color: rgb(252, 246, 50) !important;
}
.xml{
  color: rgb(255, 93, 30) !important;
}
.css{
color: rgb(41, 198, 255) !important;
}
.markdown{
  color: rgb(255, 93, 30) !important;
}


.editor-container{
  display: flex;
  flex-direction:column;
  flex-grow: 1;
  flex-basis: 0;
  padding:.25rem;
  background-color: rgb(30, 30, 30);
}

.CodeMirror{
  height:100% !important;
}

.h-90vh{
  height: 90vh;
  overflow-y: auto;
}

.h-sm-90vh{
  height: auto;
}
@media (min-width: 576px) {
  .h-sm-90vh {
    height: 90vh !important;
    overflow-y: scroll; /* Applied for screens >=768px */
  }
}

.pane{
  height:50vh;
  padding-bottom: .5rem;
  background-color: rgb(30, 30, 30);
}

.code-mirror-wrapper{
  flex-grow: 1;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
}

.top-pane{
  display:flex;
  overflow-x: auto;
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll{
  position:absolute;
  overflow: hidden !important;
}

.nav.nav-tabs{
  background-color: rgb(30, 30, 30);
}

.nav.nav-tabs .nav-link.active {
  background-color:rgb(0, 0, 0);
}

.bg-body-tertiary
{
  padding:10px !important;
}

.navbar{
  padding-bottom: 0px !important;
}


overflow-y-md-scroll {
  overflow-y: auto; /* Default for screens <768px */
}

@media (min-width: 768px) {
  overflow-y-md-scroll {
    overflow-y: scroll !important; /* Applied for screens >=768px */
  }
}


.min-height-300px{
  min-height: 300px;
}

.accordion-body{
  padding: 1px !important;
}


.brand-name {
  font-size: 50px;
  font-weight: 700;
  background: linear-gradient(
    to right,
    #9068e8 20%,
    #00affa 30%,
    #01cd19 45%,
    #eaff00 55%,
    #ff0000 75%,
    #ff0099 87%,
    #4c00ff 95%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 8s linear infinite alternate;

}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.pl-10{
  padding-left: 10px !important;
}
